body {
 background-image: url('./img/pc1.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size:100% 100%;
}
h1{
  font-size: 60px;
  font-weight: 800;
  color: rgba(200, 241, 14, 0.931);
  text-align: center;
  animation: anu 5s infinite;
  -webkit-animation: anu 5s infinite;
}
@keyframes anu{
  50%{
      color:rgba(251, 7, 7, 0.979);
      font-weight: bolder;
  }
}
.outer{
  background: rgba(0,0, 9, 0.3);
  margin: auto auto;
  width: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.outer input{
  width: 394px;
  height: 10vh;
  border: none;
  font-size: 35px;
  font-weight: 600;
  background: rgba(50,50, 29, 0.9);
  color: rgba(230,30, 39);
}
.main_c{
  background: rgba(0,0, 9, 0.3);
  margin: auto auto;
  width: 400px;
 display: grid;
 grid-template-columns: auto auto auto auto;
}
button{
  font-size: 35px;
  font-weight: 600;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
}
button:hover{
  background: rgba(10,120, 9, 0.1);
  color: rgb(241, 20, 20);
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
